* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/*home*/
#home {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  background-image: url("./img/home1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#homeText {
  float: right;
  margin: 0 850px;
  width: 850px;
  margin-top: 150px;
  padding-top: 150px;
}

#homeText {
  margin-top: 200px;
}

#homeText {
  margin: 0 auto;
  padding-left: 400px;
}

#homeH1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-top: 30px;
  padding-right: 10%;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

#homeText2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(124, 120, 121);
  margin-top: 20px;
  width: 450px;
}

#homeBt {
  margin-top: 40px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  border-color: rgb(16, 201, 195);
  background-color: rgb(16, 201, 195);
  border: none;
}

#homeBt>a {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

/*About*/
#about {
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#aboutDiv {
  width: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#aboutH1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

#aboutText {
  font-family: "Montserrat", sans-serif;
  color: rgb(124, 120, 121);
  letter-spacing: 0.5px;
  margin-top: 20px;
}

#aboutDiv>img {
  width: 200px;
}

/*Zdjecia*/
#services {
  display: flex;
  flex-wrap: wrap;
}

#services>div {
  position: relative;
  width: 25%;
  overflow: hidden;
}

#services div img {
  width: 100%;
  transition: width 0.4s;
}

#services div:hover .bg {
  opacity: 1;
}

#services div:hover img {
  width: 110%;
}

#services .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity;
  background-image: url("img/oko.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center;
}

#load {
  width: 100%;
  height: 80px;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  padding: 30px;
  color: rgb(131, 131, 131);
  background-color: #dddddd;
}

/*Menu*/
.nav {
  width: 100%;
  background-color: black;
}

body>section.header>nav {
  position: absolute;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

nav ul li {
  color: black;
  font-size: 18px;
  transition: color 0.4s;
  text-transform: uppercase;
  text-align: right;
}

nav ul li:hover {
  color: rgb(16, 201, 195);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 35px;
  line-height: 200%;
  display: inline-block;
}

nav ul a {
  display: block;
}

body>section.header>nav>ul {
  display: flex;
}

body>section.header {
  display: flex;
  justify-content: space-between;
}

body>section.header>nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body>section.header>nav>img {
  height: 30px;
  width: 30px;
}

body>section.header>nav>ul>li>a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

/*WORK*/
#work {
  height: 360px;
  display: flex;
}

#workLeft {
  background-color: rgb(232, 232, 234);
  width: 50%;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#workMid {
  padding-left: 100px;
  padding-top: 100px;
}

#workRight {
  background-color: rgb(232, 232, 234);
  width: 50%;
}

#workRight>img {
  height: 450px;
  float: right;
}

#line {
  height: 5px;
  margin: 0px;
  background: rgb(120, 120, 120);
  position: absolute;
}

#workBox1 {
  width: 25%;
  animation: workBox1 2s ease-out;
}

#workBox2 {
  width: 25%;
  animation: workBox2 2s ease-out;
}

#workBox3 {
  width: 25%;
  animation: workBox3 2s ease-out;
}

#workLine1 {
  width: 15%;
  height: 5px;
  position: absolute;
  background: rgb(16, 201, 195);
  z-index: 1000;
}

#workLineGrey {
  width: 30%;
  height: 5px;
  position: absolute;
  background: grey;
}

#skill>li {
  display: flex;
}

#skill>li>span.title {
  position: absolute;
  margin-top: -30px;
}

#workMid>h2 {
  position: absolute;
  z-index: 1000;
}

#about {
  padding: 40px;
}

#processText {
  padding-bottom: 40px;
}

#aboutText {
  width: 900px;
}

#aboutDiv {
  width: 900px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#workLine2 {
  width: 20%;
  height: 5px;
  position: absolute;
  background: rgb(16, 201, 195);
  z-index: 1000;
}

#workLine3 {
  width: 5%;
  height: 5px;
  position: absolute;
  background: rgb(16, 201, 195);
  z-index: 1000;
}

#skill {
  margin-top: 50px;
}

/*Process*/
#process {
  height: 600px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#processH1 {
  margin-top: 100px;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

#processText {
  font-family: "Montserrat", sans-serif;
}

#processVideo {
  width: 600px;
}

@media (max-width: 620px) {
  #processVideo {
    width: 400px;
  }
}

@media (max-width: 420px) {
  #processVideo {
    width: 310px;
  }
}

/*mobile*/
#mobile {
  width: 100%;
  height: 480px;
  background-color: rgb(221, 221, 221);
}

#mobileAll {
  display: flex;
  height: 240px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(221, 221, 221);
}

#mobileAll2 {
  display: flex;
  height: 240px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(221, 221, 221);
}

#mobileAll>div {
  width: 25%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

#mobileAll2>div {
  width: 25%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

#mobile>div>div>p {
  font-size: 15px;
  color: rgb(120, 120, 120);
}

#mobile>div>div>i {
  font-size: 30px;
}

#mobile>div>div>h2 {
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
}


/*time*/
#time {
  height: 240px;
  background-color: rgb(16, 201, 195);
}

#time>div {
  padding: 50px;
  height: 100%;
  display: flex;
}

#time>div>div {
  width: 25%;
}

#timeFirst {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}

#timeSecond {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}

#timeThird {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}

#timeFourth {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}

#timeUnder {
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-left: 20px;
}

#timeUnder>p {
  font-size: 12px;
  font-weight: 600;
}

#timeHead>i {
  font-size: 50px;
  color: white;
}

/*test*/
#testimonials {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  height: 520px;
  background-color: rgb(16, 201, 195);
}

#testimonials>div {
  background-color: rgb(16, 201, 195);
  ;
}

#testimonials>div>div>div {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 150px;
  font-family: 'Montserrat', sans-serif;
}

#testAll {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
  background: rgb(29, 33, 43);
}

#test {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

#testActive {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

#testInfo {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

#testInfo>p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 60%;
  border-radius: 4px;
}

#testNavigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

#testBtn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#testBtnActive {
  background: rgb(38, 150, 233);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*logo*/
#logo {
  height: 240px;
}

#logo>div {
  display: flex;
}

#logo>div>div {
  width: 25%;
  height: 240px;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center;
}

#logoAll>div:nth-child(1) {
  background-image: url('img/logo1.png');
  background-size: 30%;
}

#logoAll>div:nth-child(2) {
  background-image: url('img/logo2.png');
  background-size: 30%;
}

#logoAll>div:nth-child(3) {
  background-image: url('img/logo3.png');
  background-size: 30%;
}

#logoAll>div:nth-child(4) {
  background-image: url('img/logo4.png');
  background-size: 30%;
}

/*Contact*/
#contactBtn {
  margin: 0px;
  cursor: pointer;
}

#contact {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: rgb(221, 221, 221);
}

#contact>div>h1 {
  text-align: center;
}

#contact>div>p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#contact>div>div>input {
  width: 300px;
  padding: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contcact>div {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

#contact>div>div>div {
  justify-content: center;
  display: flex;
}

#contact>div>div>div>button {
  margin-top: 40px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-color: rgb(16, 201, 195);
  background-color: rgb(16, 201, 195);
  box-shadow: none;
  border: none;
}

#contact>div>div>div>button>p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

input::-webkit-input-placeholder {
  float: left;
}

#contact>div>div>input[type=text]:nth-child(2) {
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 10px;
}

#contact>div>div>input[type=text]:nth-child(3) {
  margin-left: 5px;
  margin-bottom: 10px;
}

#contact>div>div>input[type=text]:nth-child(5) {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
}

#contact>div>div>input[type=text]:nth-child(7) {
  margin-top: 0px;
  width: 100%;
  height: 200px;
}

/*Stopka*/
#footer {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

#footer>div {
  height: 150px;
  display: flex;
  position: relative;
  width: 25%;
  overflow: hidden;
  background: rgb(0 0 0);
  color: rgb(128 128 128);
  justify-content: center;
  align-items: center;
}

#footer div p {
  white-space: nowrap;
}

#footer#footer ul {
  list-style-type: none;
}

#footer#footer a {
  text-decoration: none;
  color: rgb(128 128 128);
}