#products {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    background: aqua;
}

#products>div {
    position: relative;
    width: 25%;
    overflow: hidden;
    height: 125%;
}

#products div img {
    width: 100%;
    transition: with .3s;
}

#products div:hover img {
    width: 175%;
}